<h1>URL Status Checker</h1>
<ul id="url_list" class="test"></ul>

<script>
	var url_list = new Array();	

	<% @url_list.each do |url| %>
		var url = "<%= url %>";
		url_list.push(url);

		<%-# We can manipulate the core urls here %>
		url = url + "inexistant_article"
		url_list.push(url);
	<% end %>


</script>
