/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 			.test {
 				margin: 20px;
				font-size: 1em;
                list-style-type: none;
 			}

            .test li {
                margin: 15px;
                line-height: 20px;
            }

            .url {
                margin-left: 10px;
            }

            .test_badge {
				color: #ffffff;
				padding: 5px 10px;
				text-align: center;
				-webkit-border-radius: 10px;
				    -moz-border-radius: 10px;
				        border-radius: 10px;  
            }

 			.success {
				background-color: #5bb75b;
				*background-color: #51a351;
				border-color: #51a351 #51a351 #387038;
				border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 								  
 			}

 			.warning {
  				background-color: #faa732;
  				*background-color: #f89406;
  				border-color: #f89406 #f89406 #ad6704;
  				border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);			  
 			}

 			.fail {
				background-color: #da4f49;
  				*background-color: #bd362f;
  				border-color: #bd362f #bd362f #802420;
  				border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 			}
